<div class="mt-0">
  <h1 class="text-center fw-bold"> Orders </h1>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">User</th>
      <th scope="col">Meal</th>
      <th scope="col">Restaurant</th>
      <th scope="col">Joined</th>
      <th scope="col">Invited</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <% @orders.each do |order| %>
  <tr>
    <td><a href="/orders/<%=order.id%>"><%= order.user_id %></a></td>
    <td><a href="/orders/<%=order.id%>"><%= order.meal_type %></a></td>
    <td><a href="/orders/<%=order.id%>"><%= order.restaurant_name %></a></td>
    <td><%= @invites.count {|invite| invite.order_id == order.id } %></td>
    <td><%= @invites.count {|invite| (invite.order_id == order.id && invite.joined == true)} %></td>
    <td><%= order.order_status %></td>
    <td><%= link_to "View", viewOrder_path(order) , class: "btn btn-info btn-sm", method: :get %></td>
    <td><%= link_to "Finish", finishOrder_path(order) , class: "btn btn-success btn-sm", method: :get %></td>
    <td><%= link_to "Cancel", cancelOrder_path(order) , class: "btn btn-danger btn-sm", method: :get %></td>
  </tr>
  <%end%>
  </thead>
</table>

<div class="col-md-4" style="margin: 10px;">
  <%= link_to "Start New Order", "/orders/new" , class: "btn btn-primary"%>
</div>